@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #d3d3d3;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body div a:hover {
    color: #FCA311;
    transition: color 500ms;
}
div img {
    border-radius: 50%;
    height: 300px;
}

.links a {
    color: #14213d;
    font-size: 18px;
    text-decoration: none;

}
#links-footer {
    text-align: center;
    letter-spacing: 3px;
    margin: 15px;
    padding: 10px;
}
#links-footer a {
    border-bottom: 1px solid #FCA311;
}

#wrapper{
    text-align: center;
    padding: 32px;
}
#wrapper img {
    border: 3px solid #FCA311;
}

#wrapper h1 {
    color: #14213d;
    font-size: 50px;
    line-height: 52px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#descricao h2 {
    color: #14213d;
    font-size: 25px;
    text-align: center;
    opacity: 0.8;
}

#listas ul {
    color: #14213d;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

#list li {
    font-size: 17px;
    padding: 5px;
}