{% extends "layout.njk"%}

{% block head %}
    <title>About</title>
{% endblock %}

{% block content %}
    <div class="img-h1">
            <img src="https://rocketseat.gallerycdn.vsassets.io/extensions/rocketseat/rocketseatreactjs/3.0.2/1588456824702/Microsoft.VisualStudio.Services.Icons.Default" alt="Rocketseat" width="25%">
            <h1 class="name-rocket">Rocketseat</h1>
    </div>
    <div class="description-rocket">
        <h2 class="description">Mais do que uma plataforma de educação em tecnologia, é uma comunidade incrível de programadores em busca do próximo nível. Utilizando as seguintes tecnologias:</h2>
    </div>
    <div class="ul-li">
        <ul>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>React</li>
            <li>ReactNative</li>
            <li>NodeJS</li>
        </ul>
    </div>
    <div class="sobre-links">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
    </div>

{% endblock %}